<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mapwatchfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0bc16f10-29e6-4990-94f2-8702a4e36916/resourceGroups/learn-ea142578-af45-4122-9b33-ee7ab2b56526/providers/Microsoft.Web/sites/mapwatchfunctions</ResourceId>
    <UserName>$mapwatchfunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mapwatchfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>